<div class="">
  <div class="">
    <div class="row justify-content-around graph-panel">
    <div class="col-3 graph-content">
      <div class="graph-Header">
        Expense Calculator
      </div>
      <div class="graph-details">
        <div >
          <p>
            Total Budget: {{totalBudget}}
          </p>
          <p>
            Total Expenses: {{totalExpensesAmount}}
          </p>
          <p>
            Remaining Amount: {{totalBudget - totalExpensesAmount}}
          </p>
  </div>
      </div>

    </div>
    <div class="col-3 graph-content">

      <div class="graph-Header">
        Pie Chart
      </div>
      <div class="graph-details">
        <div >
          <p>
            **Nothing to display**
          </p>
  </div>
      </div>
    </div>
    <div class="col-3 graph-content">

      <div class="graph-Header">
        Expenses Graph
      </div>
      <div class="graph-details">
        <div >
          <p>
            **Nothing to display**
          </p>
  </div>
      </div>
    </div>

    </div>

  </div>
  <div class="listing-panel">
    <div class="listing-header">
      <div class="row listing-button">
        <button type="button" class="btn btn-success btn-sm" (click)="getForm()" [disabled]="isSaveExpenses">Add Expense</button>&nbsp;&nbsp;
        <form class="form-content formField" [formGroup] ="formData" *ngIf="isSaveExpenses">
          <span class="formField">
            <label for="">Amount*</label>&nbsp;
            <input type="number" class="amountinput" formControlName="amount"  >&nbsp;&nbsp;
          </span>
          <span class="formField">
            <label for="">Category*</label>
            <button type="button" class="btn btn-success btn-sm categorybutton" (click)="chooseCategory = true; createCategory=false">Choose</button>
            or
            <button type="button" class="btn btn-success btn-sm categorybutton" (click)="createCategory = true; chooseCategory = false;">Create</button>
            <span *ngIf="chooseCategory" class="formField">
              <select  formControlName="category"  >
                <option [value]="item" *ngFor="let item of allCategories">
                  {{item}}
                </option>
              </select>
            </span>

            <input class=""  class="formField" formControlName="category" placeholder="Create Category" type="text"*ngIf="createCategory" >

          </span>
          <span class="formField">
            <label for="" class="formField">Item*</label>&nbsp;
            <input type="text" formControlName="item" >
          </span>
          <span class="formField">
            <button type="button" class="btn btn-success btn-sm" (click)="saveFormData()">Save</button>
          </span>
          <span class="formField">
            <button type="button" class="btn btn-danger btn-sm" (click)="CancelForm()">Cancel</button>
          </span>
        </form>
      </div>

    </div>
    <div class="listing-content">
      <table class="table table-bordered" *ngIf="totalExpenses.length">
  <thead>
    <tr>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
      <th scope="col">Item</th>
      <th scope="col">Time</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="table-body" *ngFor="let data of totalExpenses; index as i">
    <tr [ngClass]="data.isDeleted ? 'deleted' : 'notDeleted'">
      <th scope="row">{{data.amount}}</th>
      <td>{{data.category}}</td>
      <td>{{data.item}}</td>
      <td>{{data.createdDate}}</td>
      <td>
        <span>
        <button type="button" *ngIf="!data.isDeleted" class="btn btn-danger btn-sm" (click)="deleteItem(i)">Remove</button>
        <button type="button" *ngIf="data.isDeleted" class="btn btn-success btn-sm" (click)="deleteItem(i)">Undo</button>
      </span>
    </td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>
