.graph-content {
  width: 50px;
  height: 200px;
  border: 1px solid #016e4b;
  margin: 5px;
}
.graph-panel {
  width: 100%;
  margin: 10px;
}
.listing-panel {
  width: auto;
  border: 1px solid grey;
  margin: 10px 10px 10px 10px !important;
}
.listing-header {
  padding: 20px;
}
.listing-content {
  width : 100%;
  padding: 10px;
}
.form-content span {
  font-size: 12px;

}
.categorybutton {
  font-size: 10px;
  /* background-color: ; */
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}
.amountinput {
  width: 60px ;
}
.graph-Header {
  height: 50px;
  background-color: #016e4b;
  color: white;
  text-align: center;
  padding-top: 10px;
  border: 1px solid #016e4b;
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.graph-details {
  text-align: center;
  margin-top: 10px;

}
.formField {
margin-left: 10px;
}
.deleted{
  background-color: #ffdede;
}
